.cart {
  position: relative;
  left: 300%;
}

.navbar {
  margin-left: 80px;
}

#display1 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  color: white;

}

#display2 {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
}

.display {
  background-color: black;
  height: 300px;
  text-align: center;
  padding: 60px;
}

.card1 {
  position: relative;
  height: 180px;
  background-color: rgb(192, 192, 192);
  left: -12px;
  width: 111%;
  padding: 80px;
  padding-left: 40px;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.card2 {
  position: relative;
  height: 180px;
  background-color: rgb(192, 192, 192);
  left: -12px;
  width: 111%;
  padding: 80px;
  font-size: 30px;
  padding-left: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.card3 {
  position: relative;
  height: 180px;
  background-color: rgb(192, 192, 192);
  left: -12px;
  width: 111%;
  padding: 80px;
  padding-left: 40px;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card4 {
  position: relative;
  height: 180px;
  background-color: rgb(192, 192, 192);
  left: -12px;
  width: 111%;
  padding: 80px;
  font-size: 30px;
  padding-left: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#one {
  border: 2px solid;
  width: 250px;
  margin-right: 3%;
  margin-top: 10%;
  margin-left: 8%;
  border-radius: 2%;


}

#two {
  border: 2px solid;
  width: 250px;
  margin-right: 3%;
  margin-top: 10%;
  border-radius: 2%;
}

#three {
  border: 2px solid;
  width: 250px;
  margin-right: 3%;
  margin-top: 10%;
  border-radius: 2%;
}

#four {
  border: 2px solid;
  width: 250px;
  margin-right: 3%;
  margin-top: 10%;
  border-radius: 2%;
}

.container-fluid text-center {
  text-align: center;
}

.name1 {
  font-weight: bold;
  font-size: 20px;
}

.name2 {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  bottom:35px;
}

.name3 {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  bottom:35px;
}

.name4 {
  font-weight: bold;
  font-size: 20px;
}

.strike1 {
  text-decoration: line-through;
  position: relative;
  bottom:-1px;
}

.strike2 {
  text-decoration: line-through;
}
.b1{
  position: relative;
  top:30px;
}
.b2{
  position: relative;
  top:-20px;
}
#sale1{
  position: relative;
  top:-180px;
  right:-80px;
}
.rating1{
  position: relative;
  bottom: 35px;
}
.b3{
  position: relative;
  bottom:35px;
}
.b4{
  position: relative;
  bottom:35px;
}
.name5{
  font-weight: bold;
  font-size: 20px;
  position: relative;
  bottom:-10px;
}
.name6{
  font-weight: bold;
  font-size: 20px;
  position: relative;
  bottom:30px;
}
.name7{
  position: relative;
  bottom:35px;
}

.name8{
  height:100px;
  background-color: black;
  color: white;
  padding:50px;
  margin-top: 50px;
  text-align: center;
}